@model ProductsListViewModel

@{
    ViewBag.Title = "Danh sách Sản phẩm";
}

@if (Model?.CurrentCategory != null)
{
    <h3 class="mb-4 text-secondary">Danh mục: @Model.CurrentCategory</h3>
}
else
{
    <h3 class="mb-4 text-secondary">Tất cả Sản phẩm</h3>
}

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    @foreach (var p in Model?.Products ?? Enumerable.Empty<Product>())
    {
        <div class="col">
            <partial name="ProductSummary" model="p" /> 
        </div>
    }
</div>

<div class="d-flex justify-content-center mt-5">
    <div page-model="@Model?.PagingInfo" 
         page-action="Index" 
         page-url-category="@Model?.CurrentCategory" 
         page-classes-enabled="true"
         page-class="btn" 
         page-class-normal="btn-outline-secondary" 
         page-class-selected="btn-primary" 
         class="btn-group">
    </div>
</div>